* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #20232f;
    /* background-color: #20232f; */
  }
  .logo {
    font-size: 2em;
    color: white;
    user-select: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: black;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }
  .a1 {
    position: relative;
    color: white;
    margin-left: 30px;
    text-decoration: none;
  }
  header a {
    text-decoration: none;
  }
  .a1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
  
    transition: width 0.3s ease;
  }
  
  .a1:hover::before {
    width: 100%;
  }
  
  .navigacion .logB {
    width: 80px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    margin-left: 30px;
    transition: 0.5s;
  }
  .navigacion .logB:hover {
    background: white;
    border-color: white;
    color: black;
  }
  /* //////////////////////////////////////////////////// */
  .c{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0%;
    height: 250px;
  }
.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0%;
  height: 250px;
}
.heading h1{
  font-size: 50px;
  color: white;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:magenta;
}
.heading p{
  font-size: 18px;
  color:white;
  margin-bottom: 35px;
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
@media screen and (max-width: 768px){
  .heading{
      padding: 0px 20px;
  }
  .heading h1{
      font-size: 36px;
  }
  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .about{
      padding: 20px;
      flex-direction: column;
  }
  .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .about-content p{
      padding: 0px;
      font-size: 16px;
  }
}
/* /////////////////////////////////////////////////////////////////////// */
.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  margin-left: 30px;
  /* font-size: 16px; */
  border: none;
  display: flex;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* /////////////////////////////////////////////////////////////////////// */

.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
  overflow: hidden;
  transition: height 0.2s ease;
  margin-top: 70px;
}

.wrapper.active {
  height: 520px;
}
.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #fff;
  /* color: #162938; */
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}
.remember-forgot {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
}
.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
/* ///////////////////////////////////////////////////////////////// */

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 800px;
  height: 500px;
}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.manual-btn:not(:last-child){
  margin-right: 40px;

}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}

.m{
  display: flex;
  flex-direction: column; /* Changed to column to stack content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px;
  width: 90%;
  margin: 10rem auto 0 auto;

}
.paragrafi{
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 40px; 
}

