* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #20232f;
    /* background-color: #20232f; */
  }
  .logo {
    font-size: 2em;
    color: white;
    user-select: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: black;
    display: flex;
    justify-content: space-between;
    z-index: 99;
  }
  .a1 {
    position: relative;
    color: white;
    margin-left: 30px;
    text-decoration: none;
  }
  header a {
    text-decoration: none;
  }
  .a1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
  
    transition: width 0.3s ease;
  }
  
  .a1:hover::before {
    width: 100%;
  }
  
  .navigacion .logB {
    width: 80px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    margin-left: 30px;
    transition: 0.5s;
  }
  .navigacion .logB:hover {
    background: white;
    border-color: white;
    color: black;
  }
  /* //////////////////////////////////////////////////// */
  .c{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0%;
    height: 250px;
  }
.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0%;
  height: 250px;
}
.heading h1{
  font-size: 50px;
  color: white;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color:magenta;
}
.heading p{
  font-size: 18px;
  color:white;
  margin-bottom: 35px;
}
.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
@media screen and (max-width: 768px){
  .heading{
      padding: 0px 20px;
  }
  .heading h1{
      font-size: 36px;
  }
  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }
  .container{
      padding: 0px;
  }
  .about{
      padding: 20px;
      flex-direction: column;
  }
  .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .about-content p{
      padding: 0px;
      font-size: 16px;
  }
}